name: PR1128.yml
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     os: [windows-latest, ubuntu-latest, macos-latest, macos-13]        
       
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
           python-version: '3.X'
       
        
       
       
